*{
    font-family: Kanit;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #F4F4F4;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
    width: 60%;
    height: 30vh;
    padding: 2vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}
#example{
    margin-bottom: 4vh;
    display: flex;
}
#volumn{
    width: 10%;
    height: 15%;
    cursor: pointer;
}
#volumn img{
    width: 50px;
}
#e-sentence{
    display: flex;
    font-size: 8vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#done{
    display: flex;
    border-radius: 25px;
    background-color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 70px;
    font-size: 4vh;
    text-align: center;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    cursor: pointer;
}
.text{
    display: flex;
    flex-direction: row;
    height: 10%;
    font-size: 4vh;
    margin-bottom: 2vh;
}
#r-sentence{
    display: flex;
    height: 85%;
    font-size: 8vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#result{
    margin-bottom: 4vh;
}
#redo{
    text-align: end;
    display: flex;
    justify-content: space-between;
}
#redo img{
    width: 30px;
    cursor: pointer;
}
.archive{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
.archive img{
    width: 50px;
}
#prop{
    padding-left: 1vh;
    /* width: 42%; */
}
#mic{
    padding-top: 5px;
    cursor: pointer;
}
#mic img{
    width: 30px;
}
/* Popup container */
.popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    background-color: #ffffff;
    margin: 12% auto;
    padding: 20px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.popup-content p{
    font-size: 4vh;
}
/* Close button */
.close {
    position: absolute;
    color: #aaa;
    top: 0;
    font-size: 5vh;
    font-weight: bold;
    top: 3px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 800px){
    #r-sentence{
        font-size: 4vh;
    }
    #e-sentence{
        font-size: 4vh;
    }
    #text{
        font-size: 3vh;
    }
    #done{
        border-radius: 20px;
        font-size: 3vh;
        width: 100px;
        height: 50px;
    }
}